:root {
    --primary: #7D70BA;
    --secondary: #03045E;
    --success: #169873;
    --danger: #DB324D;
    --warning: #F5A623;
    --info: #CCE6F4;
    --text-light: #fff;
    --text-dark: #424242;
}